<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class = "main__container">
        <nav class = "nav__container">
            <h1>Analyze</h1>
            <p id = "intro__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
            <div class = "input__wrapper">

            </div>
        </nav>
        <section class = "dash__container">
            <h1>Hello World</h1>
        </section>
    </main>
</body>
</html>