@import "utils/_theme.scss";

#intro__text {
    font-size: 12px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
}

#input__text {

    width: 270px;
    height: 20vh;
    font-family: $font-stack;
    font-size: 16px;
    padding: 20px;

    &:hover {
        background-color: black;
        border: 1px solid red;
    }
}

#input__url {
    font-family: $font-stack;
    padding: 20px;
    background-color: $circle-1;
    :hover {

    }

    :focus {
        outline: none;
    }

}

.input__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

input:focus textarea:focus {
    outline: none;
}