@import './utils/theme.scss';

.language__container {
    @include box-template()
}

.entity__container {
    @include box-template()
}

.classify__container {
    @include box-template()
}

.summarize__container {
    @include box-template();
    height: auto;  
}

.sentiment__container {
    @include box-template()   
}

.result__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.result__wrapper {
    @include grid-row();
    justify-content: space-around;
    margin-top: 20px;
    width: 80%;
    height: 70%;
}

/** Style for Result Language*/
#text__confidence {
    font-family: $font-stack;
    font-size: 65px;
    fill: $font-color;
}

.text__wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 200px;
}

#result__lang {
    font-weight: bold;
}

.text__wrapper__result {
    height: 80%;
    width: 40%;
    @include grid-column();
    justify-content: center;
}

/** Style for Result Classification */
.result__classify__wrapper {
    height: 80%;
    width: 40%;
    @include grid-column();
    justify-content: center;
    text-align: center;
}

#text__classify__confidence {
    font-family: $font-stack;
    font-size: 65px;
    fill: $font-color;
}

/** Style for Rsult Sentiment */
#text__sentiment__confidence {
    font-family: $font-stack;
    font-size: 65px;
    fill: $font-color;
}

/** Style for Result Entity */ 
#entitiy__wrapper {
    @include grid-row();
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 80%;
    height: 70%;
    word-wrap: wrap;
    word-break: break-all;

    p {
        line-height: 35px;
    }
}

//** Style for Summarize */
.summarize__wrapper {
    @include grid-row();
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 80%;
    height: 70%;
    word-wrap: wrap;
    word-break: break-all;
}

/** Inactive Dash Container */

.dash__inactive {
    display: none;
}