$base-1: #1f1c3b;
$base-2: #2d295c;

$circle-1: #fa6D6e;
$cirlce-2: #ffa335;
$dashboard: #72DFc0;

$font: 'Poppins', 'Oswald';

/** Layout */ 

.main__container {
    display: grid;
    width: 95vw;
    height: 95vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "hd hd"
    "nav nav"
    "ctn ctn"
    "ft ft";
    border: 1px solid red;
}

body {
    background-color: $base-1;
}