@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400');
@import './dash.scss';
@import './nav.scss';
@import './utils/theme.scss';
@import './utils/animations.scss';


/** Typography */
body {
    font-family: $font-stack;
    h1, h2 {
        font-family: $font-stack;
    }
    color: #ffffff
}

* {
    padding: 0px;
    margin: 0px;
}

/** Layout */ 

.main__container {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "nav dash"
    "nav dash"
    "nav dash"
    "nav dash";
    background-color: $base-2;
}

.dash__container {
    grid-area: dash;
    background-color: $base-2;
    @include grid-row();
}

.nav__container {
    background-color: $base-1;
    grid-area: nav;
    padding-top: 40px;
    @include grid-column()
}

@media (max-width: 515px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "nav"
        "dash"
    }
    .placeholder {
        height: 40px;
    }
}