#intro__text {
    font-size: 12px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
}

.input__text {


    :hover {

    }

    :focus {
        outline: none;
    }

}

.input__url {


    :hover {

    }

    :focus {
        outline: none;
    }

}