@import './utils/theme.scss';

#intro__text {
    font-size: 12px;
    margin-top: 10px;
    padding: 20px;
    text-align: justify;
}

#input__text {

    width: 270px;
    height: 20vh;
    margin-top: 20px;
    font-family: $font-stack;
    font-size: 16px;
    padding: 20px;
    resize: none;

    &:hover {
        border: 1px solid $circle1;
    }

    &:focus {
        outline: none;
    }
}

#input__url {
    font-family: $font-stack;
    padding: 20px;
    margin-top: 20px;
    width: 270px;
    height: 5px;

    &:focus {
        outline: none;
    }

    &:hover {
        border: 1px solid $circle1;
    }
}

#submit__button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin-top: 50px;
    background-image: linear-gradient(to right,$cirlce2 0%, $circle1 100%);
    border: none;
    font-size: 18px;
    font-family: $font-stack;
    color: $font-color;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {

    }

    &:active {
        transform: scale(0.99);
    }
}

.placeholder {
    height: 300px;
}

.input__wrapper {
    @include grid-column();
}